*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#ffddd2;
    text-align: center;
}
.container{
    height: 70vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(78, 78, 78);
    font-size: 8vmin;
    color: #006d77;
    background-color: #edf6f9;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #e29578;
    color:#006d77;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #e29578;
    color:#006d77;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:#006d77;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vmin;
}
.hide{
    display: none;
}